#!/usr/bin/env bash

export FMP_PROJECT_ROOT="$(pwd)"
export FMP_ENV_NAME=local

if [ -f $FMP_PROJECT_ROOT/.envrc.local ]; then
  source $FMP_PROJECT_ROOT/.envrc.local
fi

export CONFIG_SOURCE=$FMP_PROJECT_ROOT/.env/$FMP_ENV_NAME

if [ -f $CONFIG_SOURCE ]
then
  export $(cat $CONFIG_SOURCE | sed 's/#.*//g' | xargs)
fi

PATH_add $FMP_PROJECT_ROOT/bin
PATH_add $FMP_PROJECT_ROOT/node_modules/.bin
PATH_add $FMP_PROJECT_ROOT/contracts-spec/node_modules/.bin
