.super-shadow:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset rgb(24 24 27) 0px -30px 50px -20px;
  pointer-events: none;
  z-index: 50;
}
