@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --magicbox2-height: 65vh;
  --magicbox2-width: calc(var(--magicbox2-height) / 1.5);
}

.magicbox2 {
  background: #191c29;
  width: 300px;
  height: 100px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

/* .magicbox2:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.magicbox2:hover:before, .magicbox2:hover:after {
  animation: none;
  opacity: 0;
}
 */

.magicbox2::before {
  content: "";
  width: calc(100% + 10px);;
  height: calc(100% + 10px);;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.magicbox2::after {
  position: absolute;
  content: "";
  top: calc(var(--magicbox2-height) / 6);
  left: 0;
  right: 0;
  z-index: 21;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--magicbox2-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}