body,
html {
	background-color: rgb(231 229 228);
}

/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

code[class*="language-"],
pre[class*="language-"] {
	color: #657b83; /* base00 */
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	background: #073642; /* base02 */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	background: #073642; /* base02 */
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"], {
	background-color: #fdf6e3; /* base3 */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #93a1a1; /* base1 */
}

.token.punctuation {
	color: #586e75; /* base01 */
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #268bd2; /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
	color: #2aa198; /* cyan */
}

.token.entity {
	color: #657b83; /* base00 */
	background: #eee8d5; /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #859900; /* green */
}

.token.function,
.token.class-name {
	color: #b58900; /* yellow */
}

.token.regex,
.token.important,
.token.variable {
	color: #cb4b16; /* orange */
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}


@media (prefers-color-scheme: dark) {
  /**
   * Solarized dark atom theme for `prism.js`
   * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
   * @author Pranay Chauhan (@PranayChauhan2516)
   */

  code[class*="language-"],
  pre[class*="language-"] {
    color: #839496;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"], {
    background: #002b36;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: .1em;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #586e75;
  }

  .token.punctuation {
    color: #93a1a1;
  }

  .namespace {
    opacity: .7;
  }

  .token.property,
  .token.keyword,
  .token.tag {
    color: #268bd2;
  }

  .token.class-name {
    color: #FFFFB6;
    text-decoration: underline;
  }

  .token.boolean,
  .token.constant {
    color: #b58900;
  }

  .token.symbol,
  .token.deleted {
    color: #dc322f;
  }

  .token.number {
    color: #859900;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #859900;
  }

  .token.variable {
    color: #268bd2;
  }

  .token.operator {
    color: #EDEDED;
  }

  .token.function {
    color: #268bd2;
  }

  .token.regex {
    color: #E9C062;
  }

  .token.important {
    color: #fd971f;
  }

  .token.entity {
    color: #FFFFB6;
    cursor: help;
  }

  .token.url {
    color: #96CBFE;
  }

  .language-css .token.string,
  .style .token.string {
    color: #87C38A;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.atrule,
  .token.attr-value {
    color: #F9EE98;
  }
}

.dark code[class*="language-"],
.dark pre[class*="language-"] {
	color: #839496;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
.dark pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
.dark pre[class*="language-"], {
	background: #002b36;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
	color: #586e75;
}

.dark .token.punctuation {
	color: #93a1a1;
}

.dark .namespace {
	opacity: .7;
}

.dark .token.property,
.dark .token.keyword,
.dark .token.tag {
	color: #268bd2;
}

.dark .token.class-name {
	color: #FFFFB6;
	text-decoration: underline;
}

.dark .token.boolean,
.dark .token.constant {
	color: #b58900;
}

.dark .token.symbol,
.dark .token.deleted {
	color: #dc322f;
}

.dark .token.number {
	color: #859900;
}

.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted {
	color: #859900;
}

.dark .token.variable {
	color: #268bd2;
}

.dark .token.operator {
	color: #EDEDED;
}

.dark .token.function {
	color: #268bd2;
}

.dark .token.regex {
	color: #E9C062;
}

.dark .token.important {
	color: #fd971f;
}

.dark .token.entity {
	color: #FFFFB6;
	cursor: help;
}

.dark .token.url {
	color: #96CBFE;
}

.dark .language-css .token.string,
.dark .style .token.string {
	color: #87C38A;
}

.dark .token.important,
.dark .token.bold {
	font-weight: bold;
}

.dark .token.italic {
	font-style: italic;
}

.dark .token.atrule,
.dark .token.attr-value {
	color: #F9EE98;
}
